<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497745045765-u9dr8bntpjbqljuosfg4f30te807ggs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497745045765-u9dr8bntpjbqljuosfg4f30te807ggs4</string>
	<key>API_KEY</key>
	<string>AIzaSyA139U-Be4RDR4_oDR8HFxQ2eh08CXMzYg</string>
	<key>GCM_SENDER_ID</key>
	<string>497745045765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.base.project.Base-Project</string>
	<key>PROJECT_ID</key>
	<string>baseproject-88d47</string>
	<key>STORAGE_BUCKET</key>
	<string>baseproject-88d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497745045765:ios:8c2e6e43a1cf683df16f6c</string>
</dict>
</plist>